<!--<h2>{{user.name | uppercase}} Details</h2>-->
<div class="filter">
  <label>
    <input type="string" placeholder="Name" [(ngModel)]="searchName">
  </label>
</div>
<!--<table>
  <tr><th>Имя</th><th>Фамилия</th><th>Отчество</th><th>День рождения</th><th>Средний балл</th><th>Del</th></tr>
  <tr *ngFor="let user of dataTable.users | usersFilter:searchName let i = index" [class.filter]="user.coefficient < 3" [class.searchN]="searchName" >
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.middlename}}</td>
    <td>{{user.birthday | date: "longDate"}}</td>
    <td>{{user.coefficient}}</td>
    <td><button class="rm" (click)="removeUser(user.id)"></button></td>
  </tr>
</table>-->
<table>
  <tr><th>Имя</th><th>Фамилия</th><th>Отчество</th><th>День рождения</th><th>Средний балл</th><th>Del</th></tr>
  <tr *ngFor="let user of dataTable.users | usersFilter:searchName let i = index" [class.score]="user.coefficient < 3" [class.searchN]="searchName" >
    <!--<td><input formControlName="{{user.name}}}"></td>-->
    <td><input [value]="user.name"></td>
    <td><input [value]="user.surname"></td>
    <td><input [value]="user.middlename"></td>
    <td><input [value]="user.birthday | date: 'longDate'"></td>
    <td><input [value]="user.coefficient"></td>
    <td><button class="rm" (click)="removeUser(user.id)"></button></td>
  </tr>
</table>

<form [formGroup]="fullnameControl" (submit)="onSubmit()">
  <fieldset formGroupName="fullname">
    <label> Имя
    <input formControlName="name" type="string">
    <div class="alert"></div>
    </label>
    <label> Фамилия
    <input formControlName="surname" type="string">
    <div class="alert"></div>
    </label>
    <label> Отчество
    <input formControlName="middlename" type="string">
    <div class="alert"></div>
    </label>
  </fieldset>
  <label> День рождения
    <input formControlName="birthday" type="date">
    <div class="alert"></div>
  </label>
  <label> Средний балл
    <input formControlName="coefficient" type="number">
    <div class="alert"></div>
  </label>
  <button type="submit">Add User</button>
</form>

