table {
  border-collapse: collapse;
  border: 1px solid grey;
}
th, td {border: 1px solid grey;}
table {border: 3px solid grey;}

table {width: 800px;}
th {width: 20%;}
td:first-child {width: 30%;}
th, td {padding: 10px 15px;}

.filter {color: red}

.rm {
  border-radius: 50%;
  background: red;
  font-size: 2rem;
  width: 20px;
  height: 20px;

}

.searchN {
  background: red;
}

input {
  margin-right: 1rem;
}
fieldset {width: 500px;}

.alert {
  padding: 5px;}
