<!--<h2>{{user.name | uppercase}} Details</h2>-->
<div class="users__filter">
  <label>
    <input type="text" placeholder="Введите фамилию" [(ngModel)]="searchName">
  </label>
</div>

<div class="users__table">
  <div class="users__table-header">
    <div class="users__table-header-column">
    <button class="users__sort-button" (click)="sortUser('surname')" ></button>
      Фамилия
    </div>
    <div class="users__table-header-column">
      <button class="users__sort-button" (click)="sortUser('name')" ></button>
      Имя
    </div>
    <div class="users__table-header-column">
      <button class="users__sort-button" (click)="sortUser('middlename')" ></button>
      Отчество
    </div>
    <div class="users__table-header-column">
      <button class="users__sort-button" (click)="sortUser('birthday')" ></button>
      День рождения
    </div>
    <div class="users__table-header-column">
      <button class="users__sort-button" (click)="sortUser('coefficient')" ></button>
      Средний балл
    </div>
    <div class="users__table-header-column"></div>
  </div>
  <div class="users__table-body" >
    <div *ngFor="let user of users | usersFilter: searchName; trackBy: trackByFn; let i = index;"
         class="users__table-body-row"
         [class.score]="user.coefficient < 3"
         [class.searchN]="searchName"
         appHover
    >
      <div class="users__table-body-column">
        <div class="users__table-readonly">{{user.surname}}</div>
      </div>
      <div class="users__table-body-column" >
        <div class="users__table-readonly">{{user.name}}</div>
      </div>
      <div class="users__table-body-column">
        <div class="users__table-readonly">{{user.middleName}}</div>
      </div>
      <div class="users__table-body-column">
        <div class="users__table-readonly">{{user.birthday | date: 'dd-MM-yyyy'}}</div>
      </div>
      <div class="users__table-body-column">
        <div class="users__table-readonly">{{user.coefficient}}</div>
      </div>
      <div class="users__table-body-column">
        <button class="users__remove-button" (click)="removeUser(user.id)"></button>
      </div>
      <div class="users__table-body-column">
        <button class="users__edit-button" (click)="setUserId(i); this.target = 'editUser';" ></button>


      </div>
    </div>
  </div>
  <button class="transparent-button" type="submit"
          routerLink="/form/create">Добавить</button>
<!--    <button class="transparent-button" type="submit"
          >Добавить</button>-->

  <div  *ngIf="target == 'editUser'">
    <app-user-form  [target]="this.target" [indexElement]="index" ></app-user-form>

  </div>

</div>

