<div class="users__form visible">
  <div class="users__form-dialog">
    <div class="users__form-content">
      <div class="users__form-body">
        <form *ngIf="action; else confirm" noValidate [formGroup]="formUser" class="edit-student"
              (ngSubmit)="onSubmit()"
        >
          <div class="form-group" formGroupName="fullName">

            <div class="form-control">
              <label> Surname </label>
                <input fullName="surname" formControlName="surname"
                       type="string"
                >
              <div class="alert"></div>
            </div>


            <div class="form-control">
              <label> Name</label>
                <input fullName="name" formControlName="name"
                       type="string">

            </div>
            <div class="form-control">
              <label> Middle name</label>
                <input fullName="middleName" formControlName="middleName"
                       type="string">
            </div>
            <div class="validtext"
                 *ngIf="formUser.controls['fullName'].invalid && formUser.controls['fullName'].touched">
              The data entered must be different.
            </div>

          </div>

          <div class="form-control">
            <label>Birthday</label>
              <input formControlName="birthday"
                     type="date">
            <div class="validtext"
                 *ngIf="formUser.controls['birthday'].invalid && formUser.controls['birthday'].touched">
              The student must be over 10 years old.
            </div>
          </div>

          <div class="form-control">
            <label>Coefficient </label>
              <input formControlName="coefficient"
                     type="number">
            <div class="validtext"
                 *ngIf="formUser.controls['coefficient'].invalid && formUser.controls['coefficient'].touched">
              Not specified coefficient.
            </div>
          </div>

          <button class="transparent-button"
                  routerLink="/">Back</button>
          <button class="transparent-button" *ngIf="action===1" type="submit">Add User</button>
          <button class="transparent-button" *ngIf="action===2"type="submit">Edit User</button>
        </form>
        <ng-template #confirm>
          <p>Are you sure you want to delete?</p>
          <button class="button primary" (click)="confirmation()">Yes</button><button class="button primary" (click)="hideForm()">Cancel</button>
        </ng-template>
      </div>
    </div>

  </div>
</div>
